<section class="container px-6 pt-[30%] relative">
  <h1
    class="absolute top-0 z-10 text-[4.3rem] md:text-[7.5rem] lg:text-[10.5rem] -ms-1 font-agrandir font-bold opacity-15 tracking-tighter"
  >
    Contattami
  </h1>
  <div>
    <h2 class="tracking-wider font-agrandirWide md:text-[4rem] lg:text-[5rem]">
      Ciao!👋
    </h2>
    <h6 class="tracking-wider font-agrandir md:text-2xl lg:text-3xl">
      Hai un progetto in mente o vuoi collaborare? Scrivimi!" <br /><br />
      Sarò felice di ascoltare la tua idea o rispondere a qualsiasi domanda!
    </h6>
  </div>
  <hr class="my-8 bg-white" />
  <div>
    <h6 class="md:text-2xl lg:text-3xl">
      <strong class="me-4">Email:</strong>
      <a
        class="underline underline-offset-4"
        href="mailto:giuseppegambino870@gmail.com"
        >giuseppegambino870&#64;gmail.com</a
      >
    </h6>
    <br />
    <h6 class="md:text-2xl lg:text-3xl">
      <strong class="me-4">Altro:</strong>
      <a
        class="underline underline-offset-4"
        href="https://www.linkedin.com/in/giuseppe-gambino03"
        target="_blank"
        >Linkedin</a
      >
      /
      <a
        class="underline underline-offset-4"
        href="https://github.com/Giuseppe-Gambino"
        target="_blank"
        >GitHub</a
      >
    </h6>
  </div>
</section>
