<section class="container px-6 pt-[30%] relative">
  <h1
    class="absolute top-0 z-10 text-[4.3rem] -ms-1 font-agrandir font-bold opacity-15 tracking-tighter"
  >
    Contattami
  </h1>
  <div>
    <h2 class="font-agrandirWide tracking-wider">Ciao!👋</h2>
    <h6 class="font-agrandir tracking-wider">
      Hai un progetto in mente o vuoi collaborare? Scrivimi!" <br /><br />
      Sarò felice di ascoltare la tua idea o rispondere a qualsiasi domanda!
    </h6>
  </div>
  <hr class="bg-white my-8" />
  <div>
    <h6>
      <strong class="me-4">Email:</strong>
      <a
        class="underline underline-offset-4"
        href="mailto:giuseppegambino870@gmail.com"
        >giuseppegambino870&#64;gmail.com</a
      >
    </h6>
    <br />
    <h6>
      <strong class="me-4">Altro:</strong>
      <a class="underline underline-offset-4" href="">Linkedin</a> /
      <a class="underline underline-offset-4" href="">GitHub</a>
    </h6>
  </div>
</section>
