<section
  class="container xl:px-32 min-h-[100vh] flex flex-col md:justify-end overflow-hidden"
>
  <div class="mt-10 md:mt-0">
    <h1 class="font-agrandirWideBold text-4xl md:text-[3.5rem]">Progetti</h1>
    <h6 class="text-xl font-agrandir tracking-wide mt-4">
      Questa è lo showcase dei progetti <br />
      sviluppati durante il mio percorso
    </h6>
  </div>
  <div class="flex flex-col md:flex-row justify-between">
    <div class="md:w-1/2 me-32">
      <div
        class="rounded-t-xl h-full w-full mt-16 overflow-hidden relative hidden md:block"
      >
        <div
          #preview1
          class="preview h-full w-full bg-gradient-to-tr from-blue-700 to bg-gray-950 flex justify-center items-center absolute"
        >
          <h1 class="italic font-black">STRIDE</h1>
        </div>
        <div
          #preview2
          class="preview h-full w-full bg-gradient-to-tr from-red-950 to bg-gray-950 flex justify-center items-center absolute"
        >
          <h1 class="italic font-black">NETFLIX</h1>
        </div>
        <div
          #preview3
          class="preview h-full w-full bg-gradient-to-tr from-green-700 to bg-gray-950 flex justify-center items-center absolute"
        >
          <h1 class="italic font-black">SPOTIFY</h1>
        </div>
        <div
          #preview0
          class="preview h-full w-full bg-gradient-to-tr from-gray-700 to bg-gray-950 flex justify-center items-center absolute"
        ></div>
      </div>
    </div>

    <ul class="flex flex-col gap-3 md:gap-6 md:w-1/2 mt-8 md:mt-14">
      <!-- item -->
      <hr />
      <li
        (mouseenter)="showPreview(preview1)"
        (mouseleave)="hidePreview(preview1)"
        class="flex md:flex-col justify-between items-center md:justify-normal md:items-start border-b-2 md:border-b pb-2 md:pb-4"
      >
        <div class="flex project-title">
          <h1 class="arrow">➧</h1>
          <h1 class="font-agrandirWide text-4xl md:text-7xl tracking-wider">
            <a routerLink="/portfolio/0">Stride</a>
          </h1>
        </div>
        <h6 class="text-base md:text-xl">- E-commerce</h6>
      </li>
      <!-- item -->
      <li
        (mouseenter)="showPreview(preview2)"
        (mouseleave)="hidePreview(preview2)"
        class="flex md:flex-col justify-between items-center md:justify-normal md:items-start border-b-2 md:border-b pb-2 md:pb-4"
      >
        <div class="flex project-title">
          <h1 class="arrow">➧</h1>
          <h1 class="font-agrandirWide text-4xl md:text-7xl tracking-wider">
            <a routerLink="/portfolio/1">NetFlix</a>
          </h1>
        </div>
        <h6 class="text-base md:text-xl">- Fake Netflix</h6>
      </li>
      <!-- item -->
      <li
        (mouseenter)="showPreview(preview3)"
        (mouseleave)="hidePreview(preview3)"
        class="flex md:flex-col justify-between items-center md:justify-normal md:items-start border-b-2 md:border-b pb-2 md:pb-4"
      >
        <div class="flex project-title">
          <h1 class="arrow">➧</h1>
          <h1 class="font-agrandirWide text-4xl md:text-7xl tracking-wider">
            <a routerLink="/portfolio/2">Spotify</a>
          </h1>
        </div>
        <h6 class="text-base md:text-xl">- Fake Spotify</h6>
      </li>
      <!-- item -->
      <li
        class="flex md:flex-col justify-between items-center md:justify-normal md:items-start border-b-2 md:border-b pb-2 md:pb-4"
      >
        <div class="flex project-title">
          <h1 class="arrow">➧</h1>
          <h1 class="font-agrandirWide text-4xl md:text-7xl tracking-wider">
            <a routerLink="/portfolio/3">AirBnB</a>
          </h1>
        </div>
        <h6 class="text-base md:text-xl">- Fake AirBnB</h6>
      </li>
    </ul>
  </div>
</section>
