<nav
  class="fixed z-40 invisible mt-6 nav-bar top-6 xl:mx-32 xl:visible backdrop-blur-sm"
>
  <div
    class="z-50 px-4 py-2 bg-white rounded-md opacity-40 max-w-fit max-h-fit"
  >
    <ul class="flex gap-5 font-semibold text-black">
      <li routerLink="" class="cursor-pointer">Home</li>
      <li routerLink="/portfolio" class="cursor-pointer">Progetti</li>
      <li routerLink="/about" class="cursor-pointer">About</li>
      <li (click)="scrollDown()" class="cursor-pointer">Contatti</li>
    </ul>
  </div>
</nav>
<!-- nav mobile -->
<nav class="fixed z-50 visible text-right xl:hidden bottom-8 right-6 w-fit">
  <div class="nav-container">
    <h3
      #navItem
      (click)="click()"
      routerLink=""
      *ngIf="isOpen"
      class="absolute nav-item home font-agrandirWideBold whitespace-nowrap"
    >
      Home
    </h3>
    <h3
      #navItem
      (click)="click()"
      routerLink="/about"
      *ngIf="isOpen"
      class="absolute nav-item about font-agrandirWideBold whitespace-nowrap"
    >
      About me
    </h3>
    <h3
      #navItem
      (click)="click()"
      routerLink="/portfolio"
      *ngIf="isOpen"
      class="absolute nav-item projects font-agrandirWideBold 4"
    >
      Progetti
    </h3>
    <h3
      #navItem
      (click)="click()"
      routerLink="/contact"
      *ngIf="isOpen"
      class="absolute nav-item contact font-agrandirWideBold"
    >
      Contattami
    </h3>
    <button
      [ngClass]="{ menu: isOpen, 'menu-closed': !isOpen }"
      (click)="click()"
      class="p-5 text-5xl duration-300 bg-gray-800 rounded-full bb font-moontime active:scale-75"
    >
      <span *ngIf="isOpen">G</span
      ><svg
        *ngIf="!isOpen"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="28"
        height="48"
        viewBox="0,0,256,256"
      >
        <g
          fill="#ffffff"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
        >
          <g transform="scale(5.12,5.12)">
            <path
              d="M5,8c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,23c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,38c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175z"
            ></path>
          </g>
        </g>
      </svg>
    </button>
  </div>
</nav>
