li {
  max-height: min-content;
}

.nav-bar {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 6px 0px rgb(255 255 255 / 75%);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.24);
}

.nav-container {
  position: relative;
  transition: 250ms;

  .nav-item {
    &.home {
      top: -8rem;
      right: 1.25rem;
    }

    &.about {
      bottom: 7rem;
      right: 2.5rem;
    }

    &.projects {
      bottom: 3.5rem;
      right: 6rem;
    }

    &.contact {
      bottom: 0;
      right: 7rem;
    }

    &.active {
      opacity: 1;
      transform: translateY(-10px);
      pointer-events: auto;
    }
  }
}

.menu {
  box-shadow: -80px -20px 90px 100px #004e6a, 20px 9px 100px 100px #00ffe5,
    -200px 60px 100px 100px #004e6a;
  transition: 200ms;
}

.meno-closed {
  box-shadow: -80px -20px 90px 100px #004e6a00, 20px 9px 100px 100px #00ffe500,
    -200px 60px 100px 100px #004e6a00;
  transition: 250ms;
}

h3 {
  z-index: 20;
}

// .menu {
//   -webkit-backdrop-filter: blur(2px);
//   backdrop-filter: blur(5px);
//   box-shadow: inset 0 0 6px 0px rgba(255, 255, 255, 0.894);
//   border-radius: 10px;
//   background-color: rgba(255, 255, 255, 0.463);
//   border-radius: 40px;
// }

// .menu-closed {
//   -webkit-backdrop-filter: blur(2px);
//   backdrop-filter: blur(5px);
//   box-shadow: inset 0 0 6px 0px rgba(255, 255, 255, 0.894);
//   border-radius: 10px;
//   background-color: rgba(255, 255, 255, 0.463);
//   border-radius: 40px;
// }
