.avatar {
  background-image: url("/avatar.png");
  @media (max-width: 768px) {
    background-position-y: -1rem;
  }
}

.setup {
  background-image: url("/SetUp.png");
  background-size: 105%;
}

li {
  padding-block: 0.5rem;
}
