<section class="container xl:px-32 flex flex-col justify-center">
  <section class="mb-[10vh] md:mb-[30vh]">
    <div
      class="mt-4 md:mt-0 grid grid-cols-[repeat(2,1fr)] grid-rows-[repeat(1,1fr)] md:grid-rows-[repeat(2,1fr)] gap-y-10 md:gap-y-[10px] gap-x-0 grid-flow-row items-end"
    >
      <!-- titolo -->
      <div class="row-1 row-2 col-1 col-2">
        <h1
          class="font-agrandirWideBold text-[3rem] md:text-[10rem] xl:text-[15rem] mb-8 md:-mb-10"
        >
          About
        </h1>
      </div>
      <!-- img -->
      <div class="row-1 md:row-start-1 md:row-end-3 col-start-2 col-ens-3">
        <div
          class="avatar h-[20vh] md:h-[50vh] xl:h-[80vh] w-full bg-cover md:-ms-5 -z-10 rounded-3xl"
        ></div>
      </div>
      <!-- testo -->
      <div
        class="row-2 row-3 col-start-1 col-end-3 md:col-start-1 md:col-end-1 md:pe-32"
      >
        <p class="text-base md:text-xl">
          Hey! 👋 Mi chiamo Giuseppe Gambino, ho 22 anni e sono un junior
          developer con la testa nel codice e il cuore nel design.
          <br />
          <br />
          Sono una persona curiosa, testarda quanto basta, e sempre alla ricerca
          di cose nuove da capire o da costruire.
          <br />
          <br />
          Da sempre ho avuto una passione per la tecnologia, ma ho iniziato a
          vedere davvero il potenziale del web quando ho scoperto il design
          UX/UI: capire come far funzionare bene qualcosa, ma anche farlo
          sentire giusto, è stato un click.
          <br />
          <br />
          Ah, e nel tempo libero mi trovi quasi sempre con la mano su AWSD: i
          videogiochi sono un’altra mia grande passione, e spesso mi ispirano
          anche nel modo in cui penso e disegno interfacce.
        </p>
      </div>
    </div>
  </section>
  <!-- sezione percorso/skills -->
  <section class="mb-[10vh] md:mb-[30vh]">
    <div class="flex flex-col md:flex-row gap-x-16">
      <!-- img -->
      <div class="md:w-2/5 mb-6 md:mb-0">
        <div class="flex flex-col-reverse md:flex-col w-full">
          <div
            class="bg-gray-400 h-[20vh] w-[100%] md:w-[60vh] md:h-[50vh] xl:h-[70vh] bg-cover -z-10 rounded-3xl"
          ></div>
          <h4 class="font-moontime text-[2rem] md:text-[4rem] text-center">
            Shinzo wo sasageyo!
          </h4>
        </div>
      </div>
      <!-- testo -->
      <div class="md:w-3/5">
        <div class="flex flex-col h-full">
          <h1
            class="font-agrandirWideBold text-[2rem] md:text-[4rem] xl:text-[6rem] mb-2 md:-mb-1"
          >
            Il mio Stack
          </h1>
          <div class="text-base md:text-xl">
            <p class="text-[1.2rem] md:text-[1.5rem]">
              Dopo aver esplorato da autodidatta il mondo del web, ho deciso di
              approfondire con un percorso strutturato e mi sono buttato a
              capofitto nello sviluppo full stack.
              <br /><br />
              Oggi lavoro principalmente con:
            </p>

            <ul class="text-[1.2rem] md:text-[1.5rem] list-disc ps-10 py-3">
              <li>
                <strong class="text-[#38b6ff]">Angular </strong>(frontend)
              </li>
              <li>
                <strong>TailwindCSS</strong> + DaisyUI (per UI moderne e
                flessibili)
              </li>
              <li>
                <strong class="text-[#38b6ff]">Spring Boot</strong> + PostgreSQL
                (backend robusto)
              </li>
              <li>Integrazioni con servizi come Stripe, Cloudinary</li>
              <li>
                Animazioni con <strong>GSAP</strong> e <strong>Lenis</strong>
              </li>
            </ul>
            <br /><br />
            <p class="text-[1.2rem] md:text-[1.5rem]">
              Cerco sempre di bilanciare struttura, performance e stile, con un
              occhio attento a dettagli, transizioni fluide e coerenza visiva.
              Mi piace quando le cose funzionano bene, ma anche quando hanno
              carattere.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- il mio set-up -->
  <section class="mb-[10vh] md:mb-[15vh]">
    <div class="flex flex-col md:flex-row">
      <!-- testo -->
      <div class="flex flex-col h-full w-2/5">
        <h1
          class="font-agrandirWideBold text-[2rem] md:text-[4rem] xl:text-[6rem] z-10 mb-2 md:-mb-1"
        >
          La mia <br />
          Postazione
        </h1>
        <div class="text-base md:text-xl">
          <p class="text-[1.2rem] md:text-[1.5rem]">
            Dopo aver esplorato da autodidatta il mondo del web, ho deciso di
            approfondire con un percorso strutturato e mi sono buttato a
            capofitto nello sviluppo full stack.
            <br /><br />
            Oggi lavoro principalmente con:
          </p>

          <br /><br />
          <p class="text-[1.2rem] md:text-[1.5rem]">
            Cerco sempre di bilanciare struttura, performance e stile, con un
            occhio attento a dettagli, transizioni fluide e coerenza visiva. Mi
            piace quando le cose funzionano bene, ma anche quando hanno
            carattere.
          </p>
        </div>
      </div>
      <!-- img -->
      <div class="w-3/5">
        <div
          class="setup bg-cover bg-center box rounded-3xl bg-slate-600 w-[53rem] h-[30rem] me-8"
        ></div>
      </div>
    </div>
  </section>
</section>
