<button
  #magBut
  [ngStyle]="{ 'background-color': buttonColor }"
  class="relative w-32 h-32 font-semibold text-white rounded-full magBut circle-text"
>
  <p
    class="absolute transform -translate-x-1/2 -translate-y-1/2 font-agrandir top-1/2 left-1/2"
  >
    {{ buttonText }}
  </p>
  <p>
    <span
      *ngFor="let char of charArr; let i = index"
      class="p font-agrandir"
      [ngStyle]="{
        transform: 'rotate(' + i * angle + 'deg) '
      }"
    >
      {{ char }}
    </span>
  </p>
</button>
