<button
  #magBut
  class="magBut circle-text rounded-full w-32 h-32 bg-[#242424] text-white font-semibold relative"
>
  <p class="absolute top-[35%] left-[20%]">
    SCOPRI DI <br />
    PIU
  </p>
  <p>
    <span class="p rotate-[0deg]">S</span>
    <span class="p rotate-[10deg]">C</span>
    <span class="p rotate-[20deg]">O</span>
    <span class="p rotate-[30deg]">P</span>
    <span class="p rotate-[40deg]">R</span>
    <span class="p rotate-[50deg]">I</span>
    <span class="p rotate-[60deg]"></span>
    <span class="p rotate-[70deg]">D</span>
    <span class="p rotate-[80deg]">I</span>
    <span class="p rotate-[90deg]"></span>
    <span class="p rotate-[100deg]">P</span>
    <span class="p rotate-[110deg]">I</span>
    <span class="p rotate-[120deg]">U</span>
    <span class="p rotate-[130deg]"></span>
    <span class="p rotate-[140deg]">•</span>
    <span class="p rotate-[150deg]">•</span>
    <span class="p rotate-[160deg]">•</span>
    <span class="p rotate-[170deg]">•</span>
    <span class="p rotate-[180deg]">•</span>
    <span class="p rotate-[190deg]">S</span>
    <span class="p rotate-[200deg]">C</span>
    <span class="p rotate-[210deg]">O</span>
    <span class="p rotate-[220deg]">P</span>
    <span class="p rotate-[230deg]">R</span>
    <span class="p rotate-[240deg]">I</span>
    <span class="p rotate-[250deg]"></span>
    <span class="p rotate-[260deg]">D</span>
    <span class="p rotate-[270deg]">I</span>
    <span class="p rotate-[280deg]"></span>
    <span class="p rotate-[290deg]">P</span>
    <span class="p rotate-[300deg]">I</span>
    <span class="p rotate-[310deg]">U</span>
    <span class="p rotate-[320deg]">•</span>
    <span class="p rotate-[330deg]">•</span>
    <span class="p rotate-[340deg]">•</span>
    <span class="p rotate-[350deg]">•</span>
  </p>
</button>
