<button
  #magBut
  [ngStyle]="{ 'background-color': buttonColor }"
  class="magBut circle-text rounded-full w-32 h-32 text-white font-semibold relative"
>
  <p
    class="font-agrandir absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    {{ buttonText }}
  </p>
  <p>
    <span
      *ngFor="let char of charArr; let i = index"
      class="p font-agrandir"
      [ngStyle]="{
        transform: 'rotate(' + i * angle + 'deg) '
      }"
    >
      {{ char }}
    </span>
  </p>
</button>
