<section class="container h-[90vh] flex items-center justify-end relative">
  <div class="hero-text min-w-fit max-h-fit absolute start-0 z-10">
    <h1 class="text-[100px] font-moontime font-light m--30">Full stack.</h1>
    <h1 class="font-agrandir leading-[6.5rem] text-[90px]">
      Designer mancato, <br />
      Dev convinto.
      <span class="font-moontime font-light whitespace-nowrap">
        Full style.</span
      >
    </h1>
    <h1 class="text-[100px] font-moontime font-light m--30">
      Giuseppe Gambino
    </h1>
  </div>
  <div class="flex box-img me-[-20rem]">
    <div
      class="avatar bg-cover box rounded-3xl bg-slate-600 h-[45rem] w-[33.5rem]"
    ></div>
    <div
      class="setup bg-cover bg-center box rounded-3xl bg-slate-600 h-[45rem] w-[33.5rem] mx-8"
    ></div>
  </div>
</section>
<section
  id="section"
  class="container h-[65vh] flex justify-end relative mt-36 freeze-section"
>
  <div
    class="text-about opacity-0 w-4/6 mt-5 ps-10 flex flex-col justify-between"
  >
    <div>
      <h1>About me</h1>
      <h3>Full Stack Developer</h3>
      <p class="text-3xl max-w-[45rem]">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unemaining essentially unchanged.
      </p>
    </div>
    <div class="flex justify-between">
      <h1 class="text-[80px] font-moontime font-light m--30">Essential</h1>

      <button
        class="rounded-full w-32 h-32 bg-black text-white font-semibold relative"
      >
        <span
          class="absolute translate-x-[-50%] translate-y-[-50%] whitespace-nowrap"
        >
          SCOPRI DI <br />
          PIU
        </span>
      </button>
    </div>
  </div>
</section>
<!-- sezione skills -->
<section
  class="container sticky top-0 -z-20 h-[100vh] mt-52 skills flex justify-between pt-32"
>
  <div class="text-skills">
    <h1>Le mie Skills</h1>
    <p class="max-w-[25.5rem] text-3xl font-agrandir">
      Nel corso dei miei progetti personali e formativi, ho sviluppato
      competenze solide in sviluppo web frontend, lavorando con tecnologie
      moderne come Angular, TypeScript e CSS avanzato.
      <br />
      <br />
      Utilizzo regolarmente Git per il versionamento e Canva per prototipare
      interfacce intuitive. Di seguito una panoramica delle principali
      tecnologie con cui lavoro.
    </p>
  </div>
  <div class="h-[70vh] w-[100vh] mt-24 mx-32 border"></div>
</section>
<!-- sezione progetti -->
<div class="bg-orange-500 mt-20 h-20 gap-3 overflow-hidden -rotate-1 -mb-5">
  <div class="flex items-center justify-center mt-4">
    <p class="infinity-text text-5xl font-agrandir whitespace-nowrap me-10">
      Web Design #
    </p>
    <p class="infinity-text text-5xl font-agrandir whitespace-nowrap me-10">
      Web Design #
    </p>
    <p class="infinity-text text-5xl font-agrandir whitespace-nowrap me-10">
      Web Design #
    </p>
    <p class="infinity-text text-5xl font-agrandir whitespace-nowrap me-10">
      Web Design #
    </p>
    <p class="infinity-text text-5xl font-agrandir whitespace-nowrap me-10">
      Web Design #
    </p>
    <p class="infinity-text text-5xl font-agrandir whitespace-nowrap me-10">
      Web Design #
    </p>
    <p class="infinity-text text-5xl font-agrandir whitespace-nowrap me-10">
      Web Design #
    </p>
  </div>
</div>
<section class="h-[105vh] bg-[#242424] shadow-2xl">
  <section class="container pt-44 flex justify-between">
    <div class="text-skills">
      <h1>Ultimi Progetti</h1>
      <p class="max-w-[25.5rem] text-xl font-agrandir opacity-50 mt-12">
        Questi sono alcuni dei progetti più recenti che ho realizzato,
        utilizzando tecnologie moderne e seguendo buone pratiche di sviluppo.
        <br />
        <br />
        Ogni progetto rappresenta un’occasione in cui ho messo in pratica le mie
        competenze in frontend e/o backend."
      </p>
    </div>
    <div class="h-[60vh] w-[120vh] mt-24 mx-32 border"></div>
  </section>
</section>
