<section *ngIf="project" class="container h-[200vh] xl:px-32">
  <div
    [ngStyle]="gradientStyle"
    class="banner shadow-md w-full mb-10 h-[15vh] md:h-[15vh] xl:h-[30vh] rounded-b-3xl flex justify-center items-center"
  >
    <h1 class="italic font-black md:mt-0">
      {{ project.name | uppercase }}
    </h1>
  </div>
  <!-- titolo -->
  <div class="pb-2 mb-4 border-b-2 border-white opacity-0 sec1">
    <h1 class="font-agrandirWide tracking-wider text-3xl md:text-[3rem]">
      {{ project.name }}
    </h1>
  </div>
  <!-- descrizione -->
  <div class="flex flex-col justify-between opacity-0 sec2 xl:flex-row">
    <div class="flex flex-col w-full xl:w-1/2">
      <div
        class="grid grid-cols-[repeat(2,1fr)] lg:grid-cols-[repeat(3,1fr)] grid-rows-[repeat(2,1fr)] gap-y-[2rem] gap-x-[10px]"
      >
        <div class="row-1 row-2 col-1 col-2">
          <h4 class="font-bold text-xl lg:text-[1.6rem] text-[#7fd5de]">
            CATEGORIE
          </h4>
        </div>
        <div class="col-start-2 col-end-4 row-start-1 row-end-1">
          <ul class="text-xl list-none decoration-none">
            <li *ngFor="let cat of project.categories">{{ cat }}</li>
          </ul>
        </div>
        <div class="row-2 row-3 col-1 col-2">
          <h4 class="font-bold text-xl lg:text-[1.6rem] text-[#7fd5de]">
            ANNO
          </h4>
        </div>
        <div class="col-start-2 col-end-4 row-start-2 row-end-3">
          <p class="text-xl list-none decoration-none">
            {{ project.year }}
          </p>
        </div>
      </div>
    </div>
    <div class="w-full xl:w-1/2 me-4">
      <p class="text-xl">
        {{ project.description }}
      </p>
    </div>
  </div>
  <!-- panoramica -->
  <div class="mt-10 opacity-0 sec3">
    <h5 class="mb-2 font-bold text-center">PANORAMICA</h5>
    <img
      [src]="project.image"
      alt="panoramica sito web di Giuseppe Gambino"
      class="w-full h-full"
    />
    <div
      class="flex flex-col justify-between gap-6 py-6 mt-10 border-t-2 border-white md:flex-row"
    >
      <div
        class="grid grid-cols-[repeat(2,1fr)] md:grid-cols-[repeat(3,1fr)] grid-rows-[repeat(1,1fr)] gap-y-[10px] gap-x-[10px] md:w-1/2"
      >
        <div class="row-1 row-2 col-1 col-2">
          <h4 class="font-bold text-xl md:text-[1.6rem] text-[#7fd5de]">
            TECH
          </h4>
        </div>
        <div class="col-start-2 col-end-4 row-start-1 row-end-1">
          <ul class="text-xl list-none decoration-none">
            <li *ngFor="let tech of project.technologies">{{ tech }}</li>
          </ul>
        </div>
      </div>
      <div
        class="grid grid-cols-[repeat(2,1fr)] md:grid-cols-[repeat(3,1fr)] grid-rows-[repeat(1,1fr)] gap-y-[10px] gap-x-[10px] md:w-1/2"
      >
        <div class="row-1 row-2 col-1 col-2">
          <h4
            class="font-bold text-xl md:text-[1.6rem] text-[#7fd5de] md:text-center"
          >
            LINK
          </h4>
        </div>
        <div class="col-start-2 col-end-4 row-start-1 row-end-1">
          <ul class="text-xl list-none decoration-none">
            <li>
              <a
                class="underline underline-offset-2"
                target="_blank"
                [href]="project.link"
                >WebSite</a
              >
            </li>
            <li>
              <a
                class="underline underline-offset-2"
                target="_blank"
                [href]="project.github"
                >Git Hub</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
