<section class="container h-[200vh]">
  <div
    class="w-full mb-10 h-[50vh] -mt-16 bg-gradient-to-tr from-blue-700 to bg-gray-950 rounded-b-3xl flex justify-center items-center"
  >
    <h1 class="italic font-black">STRIDE</h1>
  </div>
  <!-- titolo -->
  <div class="border-b-2 border-white pb-2 mb-4">
    <h1 class="font-agrandirWide tracking-wider">STRIDE</h1>
  </div>
  <!-- descrizione -->
  <div class="flex justify-between">
    <div class="w-1/2 flex flex-col gap-6">
      <div
        class="grid grid-cols-[repeat(2,1fr)] grid-rows-[repeat(2,1fr)] gap-y-[10px] gap-x-[10px]"
      >
        <div class="row-1 row-2 col-1 col-2">
          <h4 class="font-bold">CATEGORIE</h4>
        </div>
        <div class="row-1 row-2 col-2 col-3">
          <ul class="decoration-none list-none mt-4 text-xl">
            <li>Branding</li>
            <li>Design UX/UI</li>
            <li>Sviluppo Web</li>
          </ul>
        </div>
        <div class="row-2 row-3 col-1 col-2">
          <h4 class="font-bold">ANNO</h4>
        </div>
        <div class="row-2 row-3 col-2 col-3">
          <p class="decoration-none list-none mt-4 text-xl">2025</p>
        </div>
      </div>
    </div>
    <div class="w-1/2 me-4">
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it
        look like readable English. Many desktop publishing packages and w
      </p>
    </div>
  </div>
  <!-- panoramica -->
  <div class="mt-10">
    <h5 class="text-center font-bold mb-2">PANORAMICA</h5>
    <img src="" class="w-full h-[80vh]" />
  </div>
</section>
