<section *ngIf="project" class="container h-[200vh] xl:px-32">
  <div
    class="banner shadow-md w-full mb-10 h-[20vh] md:h-[50vh] -mt-16 bg-gradient-to-tr from-[#1a1a31] to bg-gray-950 rounded-b-3xl flex justify-center items-center"
  >
    <h1 class="italic font-black mt-12 md:mt-0">{{ project.name }}</h1>
  </div>
  <!-- titolo -->
  <div class="sec1 opacity-0 border-b-2 border-white pb-2 mb-4">
    <h1 class="font-agrandirWide tracking-wider text-3xl md:text-[3rem]">
      {{ project.name }}
    </h1>
  </div>
  <!-- descrizione -->
  <div class="sec2 opacity-0 flex flex-col md:flex-row justify-between">
    <div class="w-full md:w-1/2 flex flex-col">
      <div
        class="grid grid-cols-[repeat(2,1fr)] md:grid-cols-[repeat(3,1fr)] grid-rows-[repeat(2,1fr)] gap-y-[2rem] gap-x-[10px]"
      >
        <div class="row-1 row-2 col-1 col-2">
          <h4 class="font-bold text-xl md:text-[1.6rem] text-[#7fd5de]">
            CATEGORIE
          </h4>
        </div>
        <div class="row-start-1 row-end-1 col-start-2 col-end-4">
          <ul class="decoration-none list-none text-xl">
            <li *ngFor="let cat of project.categories">{{ cat }}</li>
          </ul>
        </div>
        <div class="row-2 row-3 col-1 col-2">
          <h4 class="font-bold text-xl md:text-[1.6rem] text-[#7fd5de]">
            ANNO
          </h4>
        </div>
        <div class="row-start-2 row-end-3 col-start-2 col-end-4">
          <p class="decoration-none list-none text-xl">
            {{ project.year }}
          </p>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2 me-4">
      <p class="text-xl">
        {{ project.description }}
      </p>
    </div>
  </div>
  <!-- panoramica -->
  <div class="sec3 opacity-0 mt-10">
    <h5 class="text-center font-bold mb-2">PANORAMICA</h5>
    <img [src]="project.image" class="w-full h-full" />
    <div
      class="border-t-2 border-white mt-10 py-6 flex flex-col md:flex-row justify-between gap-6"
    >
      <div
        class="grid grid-cols-[repeat(2,1fr)] md:grid-cols-[repeat(3,1fr)] grid-rows-[repeat(1,1fr)] gap-y-[10px] gap-x-[10px] md:w-1/2"
      >
        <div class="row-1 row-2 col-1 col-2">
          <h4 class="font-bold text-xl md:text-[1.6rem] text-[#7fd5de]">
            TECH
          </h4>
        </div>
        <div class="row-start-1 row-end-1 col-start-2 col-end-4">
          <ul class="decoration-none list-none text-xl">
            <li *ngFor="let tech of project.technologies">{{ tech }}</li>
          </ul>
        </div>
      </div>
      <div
        class="grid grid-cols-[repeat(2,1fr)] md:grid-cols-[repeat(3,1fr)] grid-rows-[repeat(1,1fr)] gap-y-[10px] gap-x-[10px] md:w-1/2"
      >
        <div class="row-1 row-2 col-1 col-2">
          <h4
            class="font-bold text-xl md:text-[1.6rem] text-[#7fd5de] md:text-center"
          >
            LINK
          </h4>
        </div>
        <div class="row-start-1 row-end-1 col-start-2 col-end-4">
          <ul class="decoration-none list-none text-xl">
            <li>
              <a
                class="underline underline-offset-2"
                target="_blank"
                [href]="project.link"
                >WebSite</a
              >
            </li>
            <li>
              <a
                class="underline underline-offset-2"
                target="_blank"
                [href]="project.github"
                >Git Hub</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
