<section class="container px-6 pt-[11vh] h-[100vh] z-10">
  <div class="flex flex-col justify-center mb-10 md:gap-3 lg:gap-4">
    <h3 class="-mb-2 font-agrandirWideBold md:text-5xl lg:text-7xl">
      About me
    </h3>
    <h4 class="md:text-4xl lg:text-6xl">Ciao!👋sono</h4>
    <h4 class="font-agrandirWideBold md:text-5xl lg:text-7xl">
      Giuseppe Gambino
    </h4>
  </div>
  <div>
    <h5
      class="text-[#38b6ff] font-agrandir font-bold md:text-4xl lg:text-5xl md:mb-2 lg:mb-4"
    >
      Junior Front-End Developer
    </h5>
    <h5 class="text-xl md:text-3xl lg:text-4xl">
      Appassionato di tecnologia, design e sviluppo web <br /><br />
      Amo trasformare idee in interfacce dinamiche e funzionali.
    </h5>
  </div>
</section>
