<section
  class="h-[100vh] w-[100vw] sfondo bg-cover bg-right fixed top-0 -z-10"
></section>

<section class="container px-6 pt-[22%] h-[100vh] z-10">
  <div class="mb-10">
    <h3 class="font-agrandirWideBold -mb-2">About me</h3>
    <h4>Ciao!👋sono</h4>
    <h4 class="font-agrandirWideBold">Giuseppe Gambino</h4>
  </div>
  <div>
    <h5 class="text-[#38b6ff] font-agrandir font-bold">
      Junior Front-End Developer
    </h5>
    <h5 class="text-xl">
      Appassionato di tecnologia, design e sviluppo web <br /><br />
      Amo trasformare idee in interfacce dinamiche e funzionali.
    </h5>
  </div>
</section>
