/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[3.4625rem] font-bold;
  }
  h2 {
    @apply text-[2.91875rem] font-semibold;
  }
  h3 {
    @apply text-[2.125rem] font-semibold;
  }
  h4 {
    @apply text-[1.73125rem] font-medium;
  }
  h5 {
    @apply text-[1.48125rem] font-medium;
  }
  h6 {
    @apply text-base font-medium;
  }
}

@font-face {
  font-family: "Agrandir";
  src: url("/assets/fonts/PPAgrandir-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Agrandir";
  src: url("/assets/fonts/PPAgrandirText-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Agrandir Wide";
  src: url("/assets/fonts/PPAgrandir-WideLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Agrandir Wide Bold";
  src: url("/assets/fonts/agrandir-wide-bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Agrandir Wide Black";
  src: url("/assets/fonts/PPAgrandir-WideBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Agrandir";
  src: url("/assets/fonts/PPAgrandir-GrandHeavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* Moontime (presumibilmente una sola variante) */
@font-face {
  font-family: "Moontime";
  src: url("/assets/fonts/moon-time-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: "Agrandir";
}
